.navbar {
    background-color: rgb(172, 122, 219);
    width: 100vw;
}

#Hero-Section{
    background-image: url(../img/bgherosection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card img {
    width: 18rem;
    height: 18rem;
}